*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #5a5a5a;

}
img{
    cursor: pointer;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-flex{
    display: flex;
    align-items: center;

}
.nav-left .menu{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 100px;

}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    border: 0;
    outline: 0;
    width: 400px;
    background: transparent;
}
.nav-middle .mic-icon{
    width: 18px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}


/* =----------------------- slider  ---------------- */


.sidebar{
    /* position: ; */
    background-color: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 80px;
    padding-left: 2%;
}
.shortcut-links a img{
    margin-right: 20px;
    width: 20px;
}
.shortcut-links a{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-bottom: 20px;
    align-items: center;
}

.shortcut-links a:first-child{
    color: #ed3833;
}
.sidebar hr {
    border: 0;
    height: 1px;
    width: 85%;
    background: #ccc;
}
.subscribed h3{
    font-size: 16px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed a{
    display: flex;
    width: fit-content;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;

}
.subscribed a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;

}

.small-sidebar a p{
    display: none;
    
}
.small-sidebar h3{
    display: none;
   
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

/* ------------main------------ */
.button{
    /* margin-top: 300px; */
    position: absolute;
    top: 15vh;
    font-size: 30px;
    width: 30px;
    border-radius: 40%;
    align-items: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.right{
    right: 10px;
    background-color: rgba(110, 109, 109, 0.5)

}
.left{
    left: 10px;
    background-color: rgba(110, 109, 109, 0.5)

}
.container{
    /* position: relative; */
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 17%;
    padding-right: 2%;
   
}
.container1{
    position: relative;
    background-color: #5a5a5a;
    height: 30vh;
}
.large-container{
    padding-left: 8%;
}

.banner{
    position: absolute;  
    display: none;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    

}

.banner img {
    height: 30vh;
    /* overflow: hidden;  */
    width:100%;
    border-radius: 8px;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 15px;
}
.vid-list .nav-flex{
    margin-top: 8px;
    align-items: flex-start;

}
.vid-list .nav-flex img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px ;
}
.vid-info{
    color: #5a5a5a;
    font-size: 16px;
}
.vid-info a{
    color: #000000;
    font-size: 13px;
    font-weight: 550;
    display: block;
    margin-bottom: 5px;
}
.vid-info p{
    color: #5a5a5a;
    font-size: 13px;
    margin: 2px 0;
}

@media (max-width:  950px){
    .moreImg{
        display: none;
    }
}

@media (max-width:  870px){
    .notsImg{
        display: none;
    }
}

@media (max-width:  800px){
    .sidebar{
        display: none;
    }
    .menu{
        display: none;

    }
    .container , .large-container{
        padding-right: 5%;
        padding-left: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo {
        width: 90px;
        padding-left: 3%;
        margin-right: 2px;
    }
    .nav-middle .search-box input{
        width: 100%;
    }
    .mic-icon{
        display: none;
    }
}
@media (max-width:  800px){
    .nav-middle .search-box input{
        margin-left: 2px;
    }}

/* ==========_________2nd page__________play-video____________======= */
/* .menuBar{
   width: 200px;
} */
.onmenuBar{
    width: 22px;
    margin-right: 25px;
}
.menuBar{
    display: none;
    /* position: relative; */
}
.active{
    display: block;
    position: absolute;
    width: 5%;
    /* z-index: 1; */
}

.video{
    padding-left: 2%;
}
.small-video{
    width: 70%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 14px;
}
.play-video .video-play-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;

}
.video-play-info p {
    color: #5a5a5a;
}
.play-video .video-play-info a img{
    width: 25px;
    margin-right: 10px;
}
.play-video .video-play-info a{
    display: inline-flex;
    align-items: center;        
}
.play-video hr{
    height: 1px;
    border: 0;
    margin: 10px 0;
    background: #ccc;

}
.publisher{
    display: flex;
    align-items: center;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher div p{
    font-weight: 600;
    color: #000;
    
}
.publisher div span{
    color: #5a5a5a;
    font-size: 13px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher button{
    background: red;
    color: #fff;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}
.video-discription {
    padding-left: 55px;
    margin: 12px 0;
}
.video-discription p{
    color: #5a5a5a;
    font-size: 15px;
    margin-bottom: 5px;
}
.video-discription h4{
    color: #5a5a5a;
    font-size: 15px;
}
.video-discription .add-comments{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.video-discription .add-comments img{
    width: 35px;
    border-radius: 50%;
}
.video-discription .add-comments input{
    height: 15px;
    margin-left: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid#c0c0c0;
    width: 100%;            
}
.old-comments{
    margin: 10px 0;
    /* align-items: center; */
}
.comm{
    padding-top: 20px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.old-comments img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comments h3{
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 800;

}
.old-comments h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comments p {
    font-size: 14px;
    font-weight: 400;
}
.comment-action{
    display: flex;
    align-items: center;
}
.comment-action img{
    width: 20px;    
    margin-right: 5px;
}
.comment-action span{
    margin-right: 20px;
    margin-left: 0;
    color: #5a5a5a;
}
.comment-action a{
        color: #0000ff;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

}
.side-video-list img{
    width: 100%;
}

.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}

@media ( max-width:530px){
    .play-video{
        flex-basis: 100%;
    }
    .video-discription{
        padding-left: 1vw;
        margin-bottom: 50px;
    }
    .old-comments{
        display: none;
    }
    .right-sidebar{
        /* margin-top: 50px; */
        flex-basis: 100%;
        margin: 0 1px;
    }
    
    
}

@media ( max-width:200px){
    .right-sidebar{
        width: 100%;
    }

    .side-video-list{
        width: 100% ;
    }

}

